@import url("https://rsms.me/inter/inter.css");

* {
 margin: 0px;
}

body {
 background: white;
 font-family: "Inter var", sans-serif;
}

.App {
 height: 100vh;
 background-color: white;
}

.BlockPicker {
 display: flex;
 flex-direction: row;
 align-items: center;

 position: absolute !important;
 top: 25px;
 left: 25px;

 z-index: 100000000000;
}

.BlockPicker > h1 {
 margin-left: 16px;
}
